@media screen and (max-width: 425px) {

    body {
        margin: 0px;
        padding: 0px;
    }
    #divzap{
        width: 12vw;
        position: fixed;
        bottom: 10px;
        right: 20px;
    }
    #imgzap{
        width: 100%;
        background-color: transparent;
    }
    #hamburguer {
        display: flex;
    }

    #hamburguer-menu {
        height: 25px;
    }

    .change #line1 {
        transform: translateY(5.5px) rotate(45deg);
    }
    
    .change #line2 {
        opacity: 0;
    }
    
    .change #line3 {
        transform: translateY(-5px) rotateZ(135deg);
    }
    

    .line {
        height: 5px;
        width: 8vw;
    }

    .nav ul {
        padding: 50px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .nav li a {
        box-sizing: none;
        border: none;
    }

    .menu2 {
        display: none;
    }

    .slider {
        padding-top: 10vh;
        max-width: 90vw;
        height: 48vh;
    }

    .slide img {
        width: 100vw;
    }

    .slides {
        height: 20vh;
    }

    .manual-navigation {
        margin-top: 25vh;
        width: 90vw;
    }

    .imgHome img {
        width: 60vw;
    }

    .imgHome .prod {
        height: 43vh;
    }

    .imgHome .prod img {
        width: 30vw;




    }

    .info {
        text-align: flex-start;
        text-decoration: none;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-family: 'Inter';
        font-style: light;
        font-weight: 100;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        gap: 5px;
    }

    .imgHome .prod .info {
        padding: 20px;
        text-align: center;
        transform: none;
        opacity: 1;
        transition: none;
        padding-top: 150px;
    }
    
    .imgHome .prod:hover .info {
        transform: none;
        opacity: 1;
    }
    .filter{
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }

    .filter .item {
        margin: 0 125px;
    }

    .pagination {
        font-family: 'Inter';
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;
        height: 5vh;
        width: 20vw;
        padding: 0 20px;
        margin: 3vw;
    }

    .pagination .page {
        text-decoration: none;
        color: #000000;
        height: 20px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #E4E4E4;
        margin: 0 15px;
        font-weight: 600;
        cursor: pointer;
        transition: 1s;
    
    }
    

}