@media screen and (min-width: 769px) and (max-width: 1200px) {

    body {
        margin: 0px;
        padding: 0px;
    }

    #hamburguer {
        display: flex;
    }

    #hamburguer-menu {
        height: 25px;
    }

    .change #line1 {
        transform: translateY(6px) rotate(45deg);
    }
    
    .change #line2 {
        opacity: 0;
    }
    
    .change #line3 {
        transform: translateY(-5px) rotateZ(135deg);
    }
    
    .line {
        height: 5px;
        width: 3vw;
    }

    .nav ul {
        padding: 0 25vw;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .nav li a {
        box-sizing: none;
        border: none;
    }

    .menu2 {
        display: none;
    }

    .slider {
        max-width: 100vw;
        height: 75vh;
    }

    .slide img {
        width: 800px;
    }

    .slides {
        height: 70vh;
    }

    .manual-navigation {
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    .buscar {
        display: flex;
        justify-content: center;
        padding: 35px;
    }

    .imgHome img {
        width: 25vw;
    }

    .imgHome .prod {
        height: 80vh;
    }

    .info {
        text-align: flex-start;
        text-decoration: none;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-family: 'Inter';
        font-style: light;
        font-weight: 100;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        gap: 5px;
    }

    .imgHome .prod .info {
        padding: 20px;
        text-align: center;
        transform: none;
        opacity: 1;
        transition: none;
    }
    
    .imgHome .prod:hover .info {
        transform: none;
        opacity: 1;
    }

    

}