body {
    margin: 0px;
    padding: 0px;
}

.head1 {
    background-color: #000000;
    display: flex;
    height: 3vh;
}

.head2 {
    background-color: silver;
    display: flex;
    height: 3vh;
}

/*
.head2 a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    margin: 0px 10px;
    padding: 0px 10px;
    border-right: 1px solid #000000;
}
*/
/*Menu Hamburguer*/
.container {
    padding-left: 1rem;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 5;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.x-img {
    display: none;
}

.show-menu .hamburguer {
    right: 95rem;
    transition: 3s;
}

.show-menu .x-img {
    display: block;
}

.line {
    width: 100%;
    height: 1rem;
    padding: 1px;
    border-radius: 10px;
    background-color: #5E6272;
    box-shadow: 0.1rem 0.1rem 3px black;
    transition: .7s;
}

.show-menu .line {
    display: none;
}

.show-menu .sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #5E6272;
    box-shadow: 10px 5px 15px 10px black;
    position: fixed;
    top: 0;
    right: 95rem;
    transition: all .8s;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    font-size: 2rem;
    color: #fff;
    transition: .7s;
}

.menu-link:hover {
    color: rgb(0, 255, 255);
    transition: .7s;
}

.cu {
    display: none;
}

/*Menu*/
.dropdown-container {
    display: flex;
}

.dropdown-hover {
    width: 99vw;
    height: 6vh;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 1000;
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu2 {
    /*começa as imagens*/
    height: 16vh;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 5vw;
}

.menu2 .img-marca {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    text-shadow: 0 0 .5em rgba(0, 0, 0, 0.75);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin: 0 1rem;
}

.menu2 .img-marca:nth-child(1),
.menu2 .img-marca:nth-child(2),
.menu2 .img-marca:nth-child(3),
.menu2 .img-marca:nth-child(4) {
    z-index: 20;
}

.menu2 .img-marca:hover {
    z-index: 25;
}

.menu2 .img-marca::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(0);
    display: inline-block;
    width: 20vw;
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 0 0 200vw rgba(255, 123, 0, 0);
    transition: transform 500ms ease, box-shadow 200ms linear;
    z-index: -1;
}

.menu2 .img-marca:hover::after {
    transform: translate(-50%, -50%) scaleX(1);
    box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0.5);
}

.menu2 .img-marca:nth-of-type(1)::after {
    background-image: url(./marcas/hugoboss.png);
}

.menu2 .img-marca:nth-of-type(2)::after {
    background-image: url(./marcas/emporio.png);
}

.menu2 .img-marca:nth-of-type(3)::after {
    background-image: url(./marcas/giorgio_armani.png);
}

.menu2 .img-marca:nth-of-type(4)::after {
    background-image: url(./marcas/ArmaniEx.png);
}

.ArmaniEx {
    width: 142px;
}

.GiorgioA {
    max-width: 208px;
}

.EmporioD {
    max-width: 400px;
}

.HugoD {
    max-width: 300px;
    width: 200px;
}

.HugoD:hover {
    transition: .5s;
    opacity: 0;
}

.ArmaniEx:hover {
    transition: .5s;
    opacity: 0;
}

.GiorgioA:hover {
    transition: .5s;
    opacity: 0;
}

.EmporioD:hover {
    transition: .5s;
    opacity: 0;
}

/*Fim Menu*/
/*Carrossel*/
.slider {
    margin: 0 auto;
    width: 740px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    margin-top: 1vh;
    width: 25%;
    position: relative;
}

.slide img {
    width: 40vw;
}

.manual-navigation {
    position: absolute;
    width: 40vw;
    margin-top: -8vh;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: silver;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

/*Fim Carrossel*/

input[type="text"] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    display: flex;
    text-align: end;
    width: 12em;
    height: 2em;
    background: #e9e9e9;
    border-radius: 12px;
    border: none;
    padding: 0px 10px;
    font-size: 1em;
    color: #5E6272;
    margin-left: 5vw;
    background-image: url(./icons/search.png);
    background-repeat: no-repeat;
    background-position: 9% 40%;
}

#icon {
    width: 1em;
    height: 1em;
    margin: 0px 10px;
}


h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.imagens {
    display: flex;
    overflow: hidden;
    padding-top: 20px;
}

.imgHome {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    column-gap: 145px;
    row-gap: 100px;
}

.imgHome img {
    width: 15vw;
}

.produtos {
    border-radius: 20px;
}

.info {
    text-align: center;
    text-decoration: none;
    padding-top: 1vh;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: light;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
    color: #5E6272;
    gap: 5px;
}


.botaoCompra {
    width: 8vw;
    height: 3vh;
    background: #E4E4E4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;

    filter: drop-shadow(0px 4px 4px rgba(50, 50, 71, 0.08)) drop-shadow(0px 4px 8px rgba(50, 50, 71, 0.06));
}