@media (max-width: 391px) {
    

    .carrossel{
        display: none;
    }
    .buscar1{
        display: none;
    }

    .produtos {
        width: 135px;
        height: 173px;
        border-radius: 32px;
    }

    .prod {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px;
        height: 173px;
        padding: 0px;
        /* bottom: 20px; */
    }

    .lista {
        display: none;
    }

    .filtro {
        display: none;
    }

    .buscar1 {
        display: flex;
        justify-content: center;
    }

    .imgHome {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
        column-gap: 65px;
        row-gap: 100px;
    }

    .botaoCompra {
        display: none;
    }

}

body {
    margin: 0px;
    padding: 0px;
}

.titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.carrossel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 200px;
    width: 100%;
    max-width: 1200px;
    height: 60vh;
    overflow: hidden;
    max-width: 1200px;

}

.carrossel ul {
    display: flex;
    padding: 0px;
    width: 100%;
    animation: canva 7s ease infinite;
}

@keyframes canva {
    0%{
        margin-left: 0;
    }
    20%{
        margin-left: 0;
    }
    25%{
        margin-left: -2600px;
    }
    45%{
        margin-left: -2600px;
    }
    50%{
        margin-left: -2600px;
    }
    70%{
        margin-left: 0;
    }
    75%{
        margin-left: 0;
    }
    100%{
        margin-left: 0;
    }
}


h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 1000;
    margin-block-start: 0.40em;
    margin-block-end: 0;
}

.linha-horizontal {
    width: 300px;
    border: 1px solid #000;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}


.head1 {
    background-color: #312E2E;
    display: flex;
    height: 3vh;
}
.head2 {
    background-color: silver;
    display: flex;
    height: 3vh;
}
.buscar1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8vh;
}

.carrossel li{
    width: 100%;
    list-style: none;
}

#ulimg {
    margin: 0;
    display: flex;
}
.banner {
    width: 60vw;
    height: 40vh;
    padding: 3vh;
    position: relative;
    margin-left: 30vw;
    padding-right: 40vw;
}

.banner2{ 
    width: 60vw;
    height: 40vh;
    padding: 3vh;
    
}

.buscar{
    position: absolute;
    top: 90vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: silver;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    
}

.buscar:hover > .barraBusca {
    width: 240px;
    padding: 0 6px;
}
.buscar:hover > .botao-search {
    background-color: #fff;
    margin-left: 3px;
}

.botao-search {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;
}

.barraBusca {
    border: none;
    background-color: silver;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    cursor: pointer;
}

.produtos {
    /*flex-grow: 1;*/
    min-width: 50%;
    border-radius: 16px;
}

.imagens {
    display: flex;
    overflow: hidden;
    padding-top: 20px;
}

.imgHome {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    column-gap: 145px;
    row-gap: 100px;
}


img {
    width: 15vw;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.info {
    text-align: center;
    text-decoration: none;
    padding-top: 5vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.info h3 {
    color: #5E6272;
    padding: 15px
}

.botaoCompra {
    width: 8vw;
    height: 3vh;
    background-color: #ebe6e6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}