@media screen and (max-width: 425px) {

    body {
        margin: 0px;
        padding: 0px;
    }

    #hamburguer {
        display: flex;
    }

    #hamburguer-menu {
        height: 25px;
    }

    .change #line1 {
        transform: translateY(5.5px) rotate(45deg);
    }
    
    .change #line2 {
        opacity: 0;
    }
    
    .change #line3 {
        transform: translateY(-5px) rotateZ(135deg);
    }
    

    .line {
        height: 5px;
        width: 8vw;
    }

    .nav ul {
        padding: 50px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .nav li a {
        box-sizing: none;
        border: none;
    }

    .menu2 {
        display: none;
    }

    .slider {
        padding-top: 10vh;
        max-width: 90vw;
        height: 48vh;
    }

    .slide img {
        width: 100vw;
    }

    .slides {
        height: 20vh;
    }

    .manual-navigation {
        margin-top: 25vh;
        width: 90vw;
    }

    .buscar {
        display: flex;
        justify-content: center;
        padding: 35px;
    }

    .imgHome img {
        width: 40vw;
    }

    .imgHome .prod {
        height: 43vh;
    }

    .info {
        text-align: flex-start;
        text-decoration: none;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-family: 'Inter';
        font-style: light;
        font-weight: 100;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        gap: 5px;
    }

    .imgHome .prod .info {
        padding: 20px;
        text-align: center;
        transform: none;
        opacity: 1;
        transition: none;
    }
    
    .imgHome .prod:hover .info {
        transform: none;
        opacity: 1;
    }
    .filter{
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    

}