body {
    background-color: white;
    font-family: 'Inter';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-size: 60px;
    font-weight: bold;
}
.productPage{
    width: auto;
    height: auto;
}
.faixa {
    display: flex;
    background-color: #757575;
    height: 30px;
    width: 100%;
}
.topbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button.botaovoltar{
    height: 62px;
    width: 62px;
}
.pngvoltar{
    width: 60px;
    height: 60px;
}
.ELEVEN{
    height: auto;
    width: auto;
    font-size: 18px;
}
.voltar{
    display: flex;
    align-self: center;
    max-width: 100px;
    max-height: 100px;
    border: none;
    background-color: none;
}
.carrinho{
    display: flex;
    min-height: 60px;
    min-width: 60px;
    border: none;
    background-color: none;
}
button.botaocar{
    height: 60px;
    width: 60px;
}
.pngcar{
    width: 60px;
    height: 60px;
}
.SearchBox{
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #E1E1E1;
    border:solid 0px;
    border-radius: 7px;
    justify-content: flex-start;
    margin-left: 8%;
    margin-right: 8%;

}
input[type="text"]{
    border:none;
    background-color: transparent;
    padding-right: 65%;
    font-size:125%;
    width: 100%;
}
button{
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
}
.PRODUTO{
    display: flex;
    justify-content: flex-start;
    align-items:center;    flex-direction: column;
    padding: 38px;
    gap: 5px;
}
.imgproduto{
    border-radius: 8%;
    max-width: 90%;
    max-height: auto;
    padding: 10px;
}
.nomeprod{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding-left: 70px;
}
.nomeprod h2{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 100px;
    font-family: 'Inter';
    font-weight: 700;
    color: #666666;
    background-color: transparent;
    width: fit-content;
    line-height: 85%;
}
.preçoprod{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
}
.preçoprod h3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 100px;
    font-family: 'Inter';
    font-weight: 500;
    color: black;
    background-color: transparent;
    width: fit-content;
    line-height: 85%;
}
.containerquantidade{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerquantidade h2{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     font-size: 300%;
     margin: 0;
}
.containerquantidade input {
    justify-content: center;
    height: auto;
    font-size: 80px;
    width: 100px;
    text-align: center;
    padding: 0px;
}
.containerquantidade input:disabled{
    background-color: #FFFFFF;
}
.containerquantidade button {
    width: 80px;
    height: 80px;
    background-color: #006a;
    color:#FFF;
    font-size: 3rem;
    border: 0;
    cursor: pointer;
    transition: background.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}button:hover{
    background-color: #295999;
}