@media screen and (min-width: 1200px) {
  * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background: linear-gradient(90deg,
            rgb(142, 142, 142) 0%,
            rgb(118, 118, 124) 35%,
            rgb(224, 231, 233) 100%);
    border: 5px solid black;
    border-width: 5px, 5px;
    height: 99vh;
    margin: 1%; 
    overflow-y:hidden;
  }
  
  .Title {
    display: flex;
    justify-content: center;
    width: 99vw;
    height: 20vh;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 1000;
    cursor: pointer;
  }
  
 
  .Formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  
  
  form{
    height: 70vh;
    width: 30vw;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
  }
  
  form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  
  label{
    display: block;
    margin-top: 30px;
    font-size: 46px;
    font-weight: 500;
  }
  
  input{
    display: block;
    height: 80px;
    width: 100%;
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 30px;
    font-weight: 300;
  }
  ::placeholder{
    color: #000000;
  }
  
  button{
    display: block;
    margin-top: 50px;
    height: 100px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 0;
    font-size: 28px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }

#senha{
    width: 30%;
    font-size: 15px;
    height: 50px;

  }
}
  
  
    


