body {
    margin: 0px;
    padding: 0px;
}

.checkout {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

.register {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

.FGtam1 {
    flex-grow: 1;
}

.FGtam2 {
    flex-grow: 2;
}

.FGtam3 {
    flex-grow: 3;
}

/* * * * 
            MOBILE CHECKOUT
                             * * * */
@media screen and (min-width: 320px) and (max-width: 768px) {
    
    .top-checkout {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #eleven-checkout {
        font-size: 50px;
        font-weight: 800;
        text-shadow: 0em 0.1em 0.1em silver;
    }

    .faixa-checkout {
        background-color: #757575;
        height: 30px;
    }

    .faixa2-checkout {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B1AFAF;
        height: 30px;
    }

    #btnleft-checkout {
        border: none;
        background-color: #FFF;
    }

    #btncart-checkout {
        border: none;
        background-color: #FFF;
    }

    #carrinho-checkout {
        font-size: 20px;
        font-weight: 700;
    }

    .itens-checkout {
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .item1-checkout {
        display: flex;
        flex-direction: row;
        height: auto;
        background-color: #8E929D;
        border-radius: 18px;
        margin: 5px;
    }

    .check {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #produto-checkout {
        padding: 5px;
        color: black;
        font-size: 18px;
        font-weight: bolder;
    }

    #valor-checkout {
        color: #4d4d4d;
        font-size: 16px;
        font-weight: 700;
    }

    .qtde-checkout {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    #btnmenos-checkout {
        border: none;
        padding-bottom: 10px;
        background-color: none;
        width: 20px;
        font-size: 16px;
        text-align: center;
        color: #000;
    }

    #qtdeitens-checkout {
        font-size: 14px;
        font-weight: 700;
        color: black;
    }

    #btnmais-checkout {
        border: none;
        padding-top: 10px;
        background-color: none;
        width: 20px;
        font-size: 16px;
        text-align: center;
        color: #000;
    }

    .remover-checkout {
        border: none;
        background-color: #E0D7E0;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .precototal-checkout {
        margin-left: 30px;
    }

    #tpt-checkout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 35px;
        border-radius: 24px;
        background-color: #909090;
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
    }

    .divbtnpf-checkout {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .btnFP-checkout {
        border: none;
        background-color: #8A8A8A;
        width: 250px;
        height: 40px;
        border-radius: 24px;
        color: #FFF;
        font-size: 1.3rem;
        font-weight: 600;
    }
}

/* * * * 
            TABLET CHECKOUT 
                                * * * */
@media screen and (min-width: 768px) and (max-width: 1200px) {

    .top-checkout {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    #eleven-checkout {
        font-size: 60px;
        font-weight: 800;
        text-shadow: 0em 0.1em 0.1em silver;
    }

    .faixa-checkout {
        background-color: #757575;
        height: 30px;
    }

    .faixa2-checkout {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B1AFAF;
        height: 30px;
    }

    #btnleft-checkout {
        border: none;
        background-color: #FFF;
    }

    #btncart-checkout {
        border: none;
        background-color: #FFF;
    }

    #carrinho-checkout {
        font-size: 20px;
        font-weight: 700;
    }

    .itens-checkout {
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 758px;
        margin-left: auto;
        margin-right: auto;
    }

    .item1-checkout {
        display: flex;
        flex-direction: row;
        height: auto;
        background-color: #8E929D;
        border-radius: 18px;
        margin: 5px;
    }

    .check {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #produto-checkout {
        color: black;
        font-size: 18px;
        font-weight: bolder;
    }

    #valor-checkout {
        color: #4d4d4d;
        font-size: 16px;
        font-weight: 700;
    }

    .qtde-checkout {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #btnmenos-checkout {
        border: none;
        background-color: none;
        padding: 0px;
        width: 20px;
        font-size: 16px;
        text-align: center;
        color: #000;
    }

    #qtdeitens-checkout {
        font-size: 14px;
        font-weight: 700;
        color: black;
    }

    #btnmais-checkout {
        border: none;
        background-color: none;
        padding: 0px;
        width: 20px;
        font-size: 16px;
        text-align: center;
        color: #000;
    }

    .remover-checkout {
        border: none;
        background-color: #E0D7E0;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .precototal-checkout {
        max-width: 748px;
        margin-left: auto;
        margin-right: auto;
    }

    #tpt-checkout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 35px;
        border-radius: 24px;
        background-color: #909090;
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
    }

    .divbtnpf-checkout {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .btnFP-checkout {
        border: none;
        background-color: #8A8A8A;
        width: 250px;
        height: 40px;
        border-radius: 24px;
        color: #FFF;
        font-size: 1.3rem;
        font-weight: 600;
    }
}

/* * * * 
            DESKTOP 
                        * * * */
@media screen and (min-width: 1200px) {

    body {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-start;
    }

    .checkout {
        width: 768px;
        margin: 10px;
    }

    .register {
        width: 768px;
        margin: 30px;
    }

    .top-checkout {
        display: none;
    }

    .faixa-checkout {
        display: none;
    }

    .faixa2-checkout {
        display: none;
    }

    .top-register {
        display: none;
    }

    .faixa-register {
        display: none;
    }

    .faixa2-register {
        display: none;
    }

    #dados-register {
        display: none;
    }

    .itens-checkout {
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .item1-checkout {
        display: flex;
        flex-direction: row;
        height: auto;
        background-color: #8E929D;
        border-radius: 18px;
        margin: 5px;
    }

    .check {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #produto-checkout {
        padding: 5px;
        color: black;
        font-size: 18px;
        font-weight: bolder;
    }

    #valor-checkout {
        color: #4d4d4d;
        font-size: 16px;
        font-weight: 700;
    }

    .qtde-checkout {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #btnmenos-checkout {
        border: none;
        padding: 0px;
        background-color: none;
        width: 20px;
        font-size: 16px;
        text-align: center;
        color: #000;
    }

    #qtdeitens-checkout {
        font-size: 14px;
        font-weight: 700;
        color: black;
    }

    #btnmais-checkout {
        border: none;
        padding: 0px;
        background-color: none;
        width: 20px;
        font-size: 16px;
        text-align: center;
        color: #000;
    }

    .remover-checkout {
        border: none;
        background-color: #E0D7E0;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .precototal-checkout {
        margin-left: 30px;
    }

    #tpt-checkout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 35px;
        border-radius: 24px;
        background-color: #909090;
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
    }

    .divbtnpf-checkout {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .btnFP-checkout {
        border: none;
        background-color: #8A8A8A;
        width: 250px;
        height: 40px;
        border-radius: 24px;
        color: #FFF;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .ent-register {
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        text-shadow: 0.1em 0.1em 0.1em silver;
        margin: 5px;
    }

    .cont-dados-register {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5px; 
        max-width: 758px;  
    }

    .titu-dados-register{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 16px;
        color: #3A3D46;
        font-weight: 700;
    }

    .cont-n-est-register {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px; 
        max-width: 758px;
    }

    input[type=text] {
        border: none;
        border-bottom: 2px solid #908E8E;
        width: auto;
        height: 30px;
    }

    .btn-register {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column  ;
        margin: 50px;
    }
    
    #btn-whatsapp-register {
        width: 300px;
        height: 50px;
        border: none;
        background-color: #14E442;
        border-radius: 24px;
        font-weight: 700;
        color: #FFF;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .btn-whatsapp-register:hover {
        cursor: pointer;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        
    }

    #aviso-register {
        font-size: 10px;
        text-align: center;
    }
}

/***** 
        REGISTER 
                    *****/

/* * * * 
            REGISTER MOBILE
                             * * * */
@media screen and (min-width: 320px) and (max-width: 768px) {
    .top-register {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #eleven-register {
        font-size: 50px;
        font-weight: 800;
        text-shadow: 0em 0.1em 0.1em silver;
    }

    .faixa-register {
        background-color: #757575;
        height: 30px;
    }

    .faixa2-register {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B1AFAF;
        height: 30px;
    }

    #btnleft-register {
        border: none;
        background-color: #FFF;
    }

    #btncart-register {
        border: none;
        background-color: #FFF;
    }

    #dados-register {
        font-size: 20px;
        font-weight: 700;
    }

    .ent-register {
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        text-shadow: 0.1em 0.1em 0.1em silver;
        margin: 5vw;
    }

    .cont-dados-register {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5vw; 
        margin-left: 10vw;
        margin-right: 10vw;  
    }

    .titu-dados-register{
        margin: 0px;
        font-size: 16px;
        color: #3A3D46;
        font-weight: 700;

    }

    .cont-n-est-register {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5vw;       
        margin-left: 10vw;
        margin-right: 10vw; 
    }

    input[type=text] {
        border: none;
        border-bottom: 2px solid #908E8E;
        width: auto;
        height: 30px;
    }

    .btn-register {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column  ;
        margin: 10vw;
    }
    
    #btn-whatsapp-register {
        width: 300px;
        height: 50px;
        border: none;
        background-color: #14E442;
        border-radius: 24px;
        font-weight: 700;
        color: #FFF;
    }

    #aviso-register {
        font-size: 10px;
        text-align: center;
    }
}

/****** 
        REGISTER TABLET 
                        *****/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .top-register {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    #eleven-register {
        font-size: 50px;
        font-weight: 800;
        text-shadow: 0em 0.1em 0.1em silver;
    }

    .faixa-register {
        background-color: #757575;
        height: 30px;
    }

    .faixa2-register {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B1AFAF;
        height: 30px;
    }

    #btnleft-register {
        border: none;
        background-color: #FFF;
    }

    #btncart-register {
        border: none;
        background-color: #FFF;
    }

    #dados-register {
        font-size: 20px;
        font-weight: 700;
    }

    .ent-register {
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        text-shadow: 0.1em 0.1em 0.1em silver;
        margin: 15px;
    }

    .cont-dados-register {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 15px; 
        max-width: 748px;
        margin-left: auto;
        margin-right: auto;  
    }

    .titu-dados-register{
        margin: 0px;
        font-size: 16px;
        color: #3A3D46;
        font-weight: 700;

    }

    .cont-n-est-register {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5vw; 
        max-width: 748px;      
        margin-left: auto;
        margin-right: auto; 
    }

    input[type=text] {
        border: none;
        border-bottom: 2px solid #908E8E;
        width: auto;
        height: 30px;
    }

    .btn-register {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column  ;
        margin: 10vw;
    }
    
    #btn-whatsapp-register {
        width: 300px;
        height: 50px;
        border: none;
        background-color: #14E442;
        border-radius: 24px;
        font-weight: 700;
        color: #FFF;
    }

    #aviso-register {
        font-size: 10px;
        text-align: center;
    }
}